# Ignore test results
test*
results.txt
100000.txt
100000-primes.txt

# Ignore makesfiles
Makefile-*
run-genPrime.sh
go-deps.sh

# Binaries and back-up files
*.swp
genPrime
genPrime.go.bak

# Local settings
.vscode/launch.json
